body {
    font-family: "Josefin Sans", serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.student-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.form-container {
    background: linear-gradient(to right, #4338ca, #2563eb);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    width: 400px;
    margin: 15px;
    position: static;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 0 0 20%;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-right: 15px;
}

input[type="text"],
input[type="email"],
select {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border-color: #5b9bd5;
    box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
}

.radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
}

input[type="radio"] {
    transform: scale(1.2);
}

.save-button {
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #ffffff;
    color: black;
}

.delete-button{
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 7px;
    border: none;
}

.table_data{
    height: 60vh;
    overflow-y: scroll;
    margin: 5px;
    background-color: #e3e2e2;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4338ca;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #f9f9f9;
    color: #000000;
}

tr:nth-child(even) td {
    background-color: #9eb8f9;
}

tr:hover td {
    background-color: #e6f7ff;
    cursor: pointer;
}

table caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: #4338ca;
}

@media (max-width: 480px) {

    body{
        align-items: start;
    }

    .form-container {
        width: 100%;
        padding: 20px;
    }

    .form-title {
        font-size: 20px;
    }

    label {
        text-align: left;
        margin-bottom: 5px;
    }

    .save-button {
        font-size: 14px;
    }

    p{
        font-size: 15px;
    }
}

